
<div class="container">
  <!--  Display the feedback - if the question has been answered before -->
  <% if params[:submitted] %>
    <%= render "shared/feedback_answer" %>
   <!-- Display the questions - if the question has never been answered before -->
  <% else %>
    <%= render "shared/question_display" %>
  <% end %>
</div>
