// Define variables for your color scheme

// For example:
$red: #BA608D; // danger original #EE5F5B
$blue: #4bbd94; // primary color: green. (Original #469AE0)
$yellow: #68C5C1; // info original #FDB631
$orange: #F0B917; // warning original #E67E22
$green: rgba(21,82,99,0.69); // success original #32B796
$gray: #000000;
$light-gray: #F4F4F4;
$black: #23333D; // secondary original ??
$light: #F2F2F2;
$dark: #314451;
