.deny-header {
  margin-top: 20px;
}

.deny-header a {
  color: white;
}

.text-under-card-icon {
  margin-bottom: 20px;
}

.header-margin-count {
  margin-top: 20px;
}

.footer-margin-count {
  margin-bottom: 20px;
}
