.deny-header {
  margin-top: 20px;
}

.deny-header a {
  color: white;
}

.vertical-progressbar{
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  width: 100px;
}
