.div-logo {
 height: 30vh;
 background: $my-bright-info;
}

.div-text {
 height: 100%;
 background: $danger;
 color: white;
 text-align: center;
 padding-top: 80px;
 padding-bottom: 125px;
}

.div-bottom-competences {
  margin-bottom: -18px;
  max-height: 120px;
  max-width: 425px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.logo-placement {
   padding: 15px;
   width:100%;
}

.goodbye-text-padding {
  padding: 15px 15px;
}

.card-no-br {
  border-radius: 0;
}

.card-no-br:first-child {
  border-radius: 2px 0 0 0;
}

.card-no-br:last-child {
  border-radius: 0 2px 0 0;
}
