.div-logo {
 height: 30vh;
 background: $my-bright-info;
}

.div-text {
 height: calc(70vh - 70px);
 background: $danger;
 color: white;
 text-align: center
}

.div-bottom-competences {
  margin-bottom: -18px;
}

.logo-placement {
  padding: 15px;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goodbye-text-padding {
  padding: 0 10px 0 10px;
}
