// Specific CSS for home-page
.col-color-bar {
  height: 9vh;
}

.bg-my-md-info {
  background-color: $my-md-info;
}

.bg-my-bright-primary {
  background-color: $my-bright-primary;
}

.bg-my-bright-warning {
  background-color: $my-bright-warning;
}

.bg-my-bright-info {
  background-color: $my-bright-info;
}

.bg-my-bright-danger {
  background-color: $my-bright-danger;
}

.bg-my-black {
  background-color: $my-black;
}

.logo-placement {
  top: 22vh; // calc(22vh + 70px)
  z-index: 10;
  width: 97%;
}

.margin-title {
  margin-top: 30px;
}

.margin-button {
  margin-top: 15px;
}
