// Specific CSS for home-page
.col-color-bar {
  margin-left: 0;
  margin-right: 0;
  height: 9vh;
}

.col-color-bar-last {
  margin-left: 0;
  margin-right: 0;
  height: 10vh;
}

.container-0padding {
  padding: 0 !important;
  // overflow-x: hidden;
}

.bg-my-md-info {
  background-color: $my-md-info;
}

.bg-my-bright-primary {
  background-color: $my-bright-primary;
}

.bg-my-bright-warning {
  background-color: $my-bright-warning;
}

.bg-my-bright-info {
  background-color: $my-bright-info;
}

.bg-my-bright-danger {
  background-color: $my-bright-danger;
}

.bg-my-black {
  background-color: $my-black;
}

.logo-placement {
  top: 19vh; // calc(22vh + 70px)
  z-index: 10;
  // width: auto;
}

.margin-title {
  margin-top: 30px;
}

.size-title {
  font-size: 1.6rem;
}

.margin-button {
  margin-top: 15px;
}

.button-opacity {
  background-color: rgba(0,0,0,0);
  border: 0;
}

.form-biger-sign-in{
  font-size: 2rem;
}
