<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-color-bar bg-my-black">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-dark">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-success">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-info">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-my-md-info">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-primary">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-my-bright-primary">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-warning">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-my-bright-warning">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-danger">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-my-bright-danger">
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-my-bright-info">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-light">

    </div>
  </div>
</div>
