<div class="container-fluid">
  <div class="position-absolute logo-placement d-flex justify-content-center">
    <%= image_tag("logo_150.png", class: "d-block d-sm-none") %>
    <%= image_tag("logo_300.png", class: "d-none d-sm-block") %>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-my-black">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-dark">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-success">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-info">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-my-md-info">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-primary">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-my-bright-primary">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-warning">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-my-bright-warning">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-danger">

    </div>
  </div>
  <div class="row">
    <div class="col-12 col-color-bar bg-my-bright-danger">
    </div>
  </div>
</div>
