.list-display-feedback {
  // position: relative;
  max-height: 70vh;
  overflow: auto;
  padding: 0.75rem 1.25rem;
  // list-style-type: none;
  // margin-top: 10px;

}
.list-display-question {
  // position: relative;
  max-height: 70vh;
  overflow: auto;
  padding: 0.75rem 1.25rem;
  // list-style-type: none;
  // margin-top: 10px;
}

// ul {
  // margin-left: -60px;
// }

// .feedback-correct-answer {
//     background: #68C5C1;
//     padding: 11px 4px;
//     // border: 2px solid transparent;
//     border-radius: 0.25rem;
//     margin-left: 18px;
//     color: white;
// }

// .normal_answer {
//     padding: 0.75rem 1.25rem;
//     margin: 0;
// }

.btn-answer-block {
    color: white;
    bottom: 0px;
    margin: 3.2%;
    width: 94%;
}

.top-pading-question-show {
  padding-top: 15px;
}

// input[type="radio"] {
    // display:none;
// }

// input[type="radio"]  {
    // display:inline-block;
    // width:25px;
    // height:25px;
    // margin:1px 4px ;
    // vertical-align:middle;
// }


.game_name_in_question_show {
  position: relative; // Important for position of progress bar
  padding: 10px;
  // background-color: $blue; // Bootstrap class used instead
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
}

.game_name_in_question_show h2 h5{
  line-height: 1;
  margin-bottom: 0;
}

.game-progress-position {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 5px;
}
