.list-display-feedback {
  // position: relative;
  max-height: 80vh;
  overflow: scroll;
  padding: 0.75rem 1.25rem;
  list-style-type: none;
}
.list-display-question {
  // position: relative;
  max-height: 80vh;
  overflow: scroll;
  padding: 0.75rem 1.25rem;
  list-style-type: none;
}

.feedback-correct-answer {
    background: $info;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    margin: 0;
    color: white;
}

.normal_answer {
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    margin: 0;
}

.btn-answer-block {
    color: white;
    bottom: 0px;
    margin: 3%;
    width: 94%;
}

.top-pading-question-show{
  padding-top: 20px;
}

input[type="radio"] {
    display:none;
}

input[type="radio"]  {
    display:inline-block;
    width:19px;
    height:25px;
    margin:1px 4px ;
    vertical-align:middle;
}

