<h1><%= @competence.name %></h1>

<p><%= @competence.description %></p>

<!-- list of games -->
<% @competence.games.each do |game| %>
  <h2><%=  link_to game.name, question_path(game.questions.first) %></h2>

<% end %>

<!-- random game choose for the user, we have to redirect to start game -->
<p>"Choose a game for me".  ----><%= link_to @competence.games.sample.name, question_path(@competence.games.sample.questions.first)  %></p>
